apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: minio-ingress
  namespace: minio-system
spec:
  ingressClassName: nginx
  rules:
    # We route based on path because we don't have real DNS locally
    # Traffic to http://localhost:8080/minio -> MinIO Console
    - http:
        paths:
          - path: /minio
            pathType: Prefix
            backend:
              service:
                name: minio-console
                port:
                  number: 9001
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: minio
                port:
                  number: 9000
